<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="root">
        <div>姓:<input V-model:value='firstName' /></div>
        <div>名:<input v-model="lastName" /></div>
        <div>全名: <input v-model="fullName" @input="handleChangeInput" /></div>
        <div>{{fullName}}</div>
        <!-- <div>{{fullName}}</div>
        <div>{{fullName}}</div>
        <div>{{fullName}}</div>
        <div>{{fullName}}</div>
        <div>{{fullName}}</div>
        <div>{{fullName}}</div>
        <div>{{fullName}}</div> -->
    </div>
</body>
<script>
    new Vue({
        el: "#root",
        data: {
            firstName: '刘',
            lastName: "艺艺",
            fulIName: '',
        },
        methods: {
            handleFulIName() {
                console.log('我是函数调用');
                this.fullName = this.firstName + '-' + this.lastName
                return this.firstName + '-' + this.lastName
            },
            handleChangeInput() {
                let result = this.fulIName.split('_')
                 this.firstName = result[O]
                this.lastName = result[l]
            }
        }
    })
</script>

</html>