<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="root">
        <input type="text"  v-model="searchVal" placeholder="请输入名字查找"  />
        <ul>
            <li v-for="item in personsVal" :key="item.id">{{item.name}}-{{item.age}}-{{item.sex}}</li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false
        new Vue({
            el:'#root',
            data() {
                return {
                    searchVal:"",
                    Persons:[{
                id:'001',
                name:'马冬梅',
                age:19,
                sex:'女'
            },{
                id:'002',
                name:'周冬雨',
                age:19,
                sex:'女'
            },{
                id:'003',
                name:'周杰伦',
                age:19,
                sex:'女'
            },{
                id:'004',
                name:'刘耀文',
                age:19,
                sex:'男'
            }]
                }
            },
            computed:{
                // personsVal(){
                //     return this.Persons.filter(item=>{
                //         return item.name.indexOf(this.searchVal) !==-1
                //     })
                // }

                 // personsVal(){
                //     return this.Persons.filter(item=>{
                //         return item.name.indexOf(this.searchVal) !==-1
                //     })
                // }
            }
        })
    </script>
</body>
</html>